
:root {
    --pagefind-ui-primary: var(--primary);
    --pagefind-ui-text: var(--contrast);
    --pagefind-ui-background: var(--background-color);
    --pagefind-ui-border: var(--form-element-border-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    max-height: 100%;
    margin: auto;
    text-align: center;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

kbd {
    margin: 0.2rem;
}

kbd a {
    text-decoration: none;
    color: black;
}

img {
    border-radius: 4px;
    width: 100%;
}


/* ARTICLE */
article footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary);
}

article a { color: var(--contrast); }

/* TYPEWRITER */
.typewriter {
    overflow: hidden;
    border-right: .15em solid var(--primary);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--primary) }
}