{{ define "main" }}

<section>
    <h3 data-pagefind-meta="title">{{ .Title }}</h3>

    <details open>
        <summary class="secondary">Workshop Details</summary>
        <ul>
            {{ with .Params.lang }}
                <li><strong>Language: </strong> {{ . }}</li>
            {{ end }}
            
            {{ with .Params.year }}
                <li><strong>Year: </strong> {{ . }} </li>
            {{ end }}

            {{ with .Params.slides }}
                <li>
                    <strong>Slides: </strong>
                    <a target="_blank" href="{{ . }}">link</a>
                </li>
            {{ end }}

            {{ partial "by.html" . }}

            {{ partial "tags.html" . }}
        </ul>
    </details>
</section>

<section>
    {{ range .Params.links }}
        {{ partial "video_card.html" . }}
    {{ end }}
</section>

{{ end }}