{{ define "main" }}

<section data-pagefind-body data-pagefind-filter="kind:Workshop">
    <h2 data-pagefind-meta="title">{{ .Title }}</h2>

    <details open>
        <summary class="secondary">Workshop Details</summary>
        <ul>
            {{ with .Params.lang }}
                <li><strong>Language: </strong> {{ . }}</li>
            {{ end }}
            
            {{ with .Params.year }}
                <li><strong>Year: </strong> {{ . }} </li>
            {{ end }}

            {{ with .Params.slides }}
                <li>
                    <strong>Slides: </strong>
                    <a target="_blank" href="{{ . }}">link</a>
                </li>
            {{ end }}

            {{ partial "lists/by.html" . }}

            {{ partial "lists/tags.html" . }}
        </ul>
    </details>
</section>

<section>
  
  {{ .Content }}
  
</section>

{{ end }}
