{{ define "main" }}

<section>
    <hgroup>
        <h3 data-pagefind-meta="title">{{ .Title }}</h3>
        <h2>By {{ delimit .Params.authors ", " " and " }} &nbsp; - &nbsp; {{ .Params.year }}</h2>
    </hgroup>        

    {{ partial "tags.html" . }}

</section>

<section>
    <article>
        <img src="https://i3.ytimg.com/vi/{{ .Params.link }}/hqdefault.jpg" alt="video thumbnail">
        <br/><br/>
        <div>
            <a href="https://www.youtube.com/watch?v={{ .Params.link }}" target="_blank" role="button">Watch</a>
            {{ with .Params.slides }}
                <a class="secondary" href="{{ . }}" target="_blank" role="button">Slides</a>    
            {{ end }}
        </div>
    </article>
</section>

{{ end }}