{{ define "main" }}

{{ if eq .Type "categories" }}
    <h1>{{ .Title | humanize }}</h1>

    {{ range sort .Paginator.Pages ".Params.year" "desc" }}
        {{ partial "cards/card.html" . }}
    {{ end }}
    
    {{ partial "paginate.html" . }}

{{ else }}
    <h1>{{ .Type | singularize | humanize }}:&nbsp;&nbsp;{{ humanize .Title }}</h1>

    {{ with where .Pages "Params.categories" "intersect" (slice "workshops") }}
        <h2>Workshops</h2>

        {{ range . }}
            {{ partial "cards/card.html" . }}        
        {{ end }}
        
        <br>
    {{ end }}

    {{ with where .Pages "Params.categories" "intersect" (slice "tournaments") }}
        <h2>Tournaments</h2>

        {{ range . }}
            {{ partial "cards/card.html" . }}
        {{ end }}

        <br>
    {{ end }}

    {{ with where .Pages "Params.categories" "intersect" (slice "motions") }}
        <h2>Motions</h2>

        {{ range . }}
            {{ partial "cards/card.html" . }}
        {{ end }}

        <br>
    {{ end }}

{{ end }}

{{ end }}